@model KafeKita.ViewModel.MstSupplierViewModel
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "idFormUpdateSupplier" }))
{
    <div class="row">
        <div class="input-field col s6">
            @Html.HiddenFor(model => model.SupplierCode, new { @class = "Validate" })
            @Html.TextBoxFor(model => model.SupplierCode, new { @class = "Validate", disabled = "disabled" })
            <label for="ItemCode" class="active">Kode Pemasok</label>
        </div>
        <div class="input-field col s6">
            @Html.HiddenFor(model => model.ItemId, new { @class = "Validate" })
            @Html.TextBoxFor(model => model.ItemId, new { @class = "Validate", disabled = "disabled" })
            <label for="ItemCode" class="active">Kode Barang</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            @Html.EditorFor(model => model.Name, new { @class = "Validate" })
            <label for="Name" class="active">Nama Pemasok</label>
        </div>
        <div class="input-field col s6">
            @Html.EditorFor(model => model.Price, new { @class = "Validate" })
            <label for="Name" class="active">Harga Beli</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            @Html.EditorFor(model => model.Address, new { @class = "Validate" })
            <label for="Name" class="active">Alamat</label>>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            @Html.EditorFor(model => model.Email, new { @class = "Validate" })
            <label for="Name" class="active">Email</label>
        </div>
        <div class="input-field col s6">
            @Html.EditorFor(model => model.Phone, new { @class = "Validate" })
            <label for="Name" class="active">Telepon</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <input type="checkbox" id="Actived" name="Actived">
            <label for="Actived">Status</label>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
    $("#Actived").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).attr('value', 'true');
        } else {
            $(this).attr('value', 'false');
        }
    });
</script>